SECRET_KEY= "secret_key"#sin comillas
DEBUG=True
DATABASE_URL=postgis://postgres:contraseña@localhost:5432/rutasc
API_KEY_GOOGLE='api_key_google'#sin comillas
URL_GOOGLE_PLACES=https://places.googleapis.com/v1/places:searchText
URL_GOOGLE_ROUTES=https://routes.googleapis.com/directions/v2:computeRoutes