SECRET_KEY= "secret_key"#sin comillas
DEBUG=True
DATABASE_URL=postgis://postgres:contraseña@localhost:5432/rutasc
POSTGRES_BIN_PATH = C:\Program Files\PostgreSQL\17\bin #agregar la ruta donde se encuentra el archivo de abajo puede variar el numero 31,32,etc si es asi, cambiar tambien el numero del nombre del archivo de abajo
GDAL_LIBRARY_NAME=libgdal-35.dll
API_KEY_GOOGLE='api_key_google'#sin comillas
URL_GOOGLE_PLACES=https://places.googleapis.com/v1/places:searchText
URL_GOOGLE_ROUTES=https://routes.googleapis.com/directions/v2:computeRoutes