SECRET_KEY= "secret_key"
DEBUG=True
DATABASE_URL=postgis://postgres:contraseña@localhost:5432/rutasc
API_KEY_GOOGLE='api_key_google_place'
URL_GOOGLE=https://places.googleapis.com/v1/places:searchText